*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/bundle
bin/autospec
bin/coderay
bin/demo-pry-bond
bin/demo-pry-exception_explorer
bin/demo-pry-rescue
bin/htmldiff
bin/jist
bin/kill-pry-rescue
bin/ldiff
bin/pry
bin/pryq
bin/rake
bin/rdebug
bin/rescue
bin/rspec
bin/yard
bin/yardoc
bin/yri
