---
http_interactions:
- request:
    method: post
    uri: http://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=10440808526&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_nonce="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", oauth_signature="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1389111850", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"photo\":{\"id\":\"10440808526\", \"secret\":\"c3fd515635\", \"server\":\"7402\",
        \"farm\":8, \"dateuploaded\":\"1382539271\", \"isfavorite\":0, \"license\":\"0\",
        \"safety_level\":\"0\", \"rotation\":0, \"originalsecret\":\"5a2e1d9666\",
        \"originalformat\":\"jpg\", \"owner\":{\"nsid\":\"83213379@N00\", \"username\":\"Lucas
        the nomad\", \"realname\":\"\", \"location\":\"Melbourne, Australia\", \"iconserver\":\"7410\",
        \"iconfarm\":8, \"path_alias\":null}, \"title\":{\"_content\":\"Giant hippo
        yawn\"}, \"description\":{\"_content\":\"\"}, \"visibility\":{\"ispublic\":1,
        \"isfriend\":0, \"isfamily\":0}, \"dates\":{\"posted\":\"1382539271\", \"taken\":\"2013-08-13
        18:27:16\", \"takengranularity\":\"0\", \"lastupdate\":\"1382539314\"}, \"views\":\"37\",
        \"editability\":{\"cancomment\":0, \"canaddmeta\":0}, \"publiceditability\":{\"cancomment\":1,
        \"canaddmeta\":0}, \"usage\":{\"candownload\":1, \"canblog\":0, \"canprint\":0,
        \"canshare\":1}, \"comments\":{\"_content\":\"0\"}, \"notes\":{\"note\":[]},
        \"people\":{\"haspeople\":0}, \"tags\":{\"tag\":[{\"id\":\"5152225-10440808526-25848\",
        \"author\":\"83213379@N00\", \"raw\":\"Uganda\", \"_content\":\"uganda\",
        \"machine_tag\":0}]}, \"urls\":{\"url\":[{\"type\":\"photopage\", \"_content\":\"http:\\/\\/www.flickr.com\\/photos\\/83213379@N00\\/10440808526\\/\"}]},
        \"media\":\"photo\"}, \"stat\":\"ok\"}"
  recorded_at: Tue, 07 Jan 2014 16:24:11 GMT
- request:
    method: post
    uri: http://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=10440808526&method=flickr.photos.getSizes&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_nonce="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", oauth_signature="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1389111851", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"sizes\":{\"canblog\":0, \"canprint\":0, \"candownload\":1, \"size\":[{\"label\":\"Square\",
        \"width\":75, \"height\":75, \"source\":\"http:\\/\\/farm8.staticflickr.com\\/7402\\/10440808526_c3fd515635_s.jpg\",
        \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/83213379@N00\\/10440808526\\/sizes\\/sq\\/\",
        \"media\":\"photo\"}, {\"label\":\"Large Square\", \"width\":\"150\", \"height\":\"150\",
        \"source\":\"http:\\/\\/farm8.staticflickr.com\\/7402\\/10440808526_c3fd515635_q.jpg\",
        \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/83213379@N00\\/10440808526\\/sizes\\/q\\/\",
        \"media\":\"photo\"}[...]
