---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=10440808526&method=flickr.photos.getSizes&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_nonce="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", oauth_signature="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397581541", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sizes":{"canblog":0, "canprint":0, "candownload":1, "size":[{"label":"Square",
        "width":75, "height":75, "source":"https:\/\/farm8.staticflickr.com\/7402\/10440808526_c3fd515635_s.jpg",
        "url":"https:\/\/www.flickr.com\/photos\/lucasthenomad\/10440808526\/sizes\/sq\/",
        "media":"photo"}, {"label":"Large Square", "width":"150", "height":"150",
        "source":"https:\/\/farm8.staticflickr.com\/7402\/10440808526_c3fd515635_q.jpg",
        "url":"https:\/\/www.flickr.com\/photos\/lucasthenomad\/10440808526\/sizes\/q\/",
        "media":"photo"}, {"label":"Thumbnail", "width":"100", "height":"75", "source":"https:\/\/farm8.staticflickr.com\/7402\/10440808526_c3fd515635_t.jpg",
        "url":"https:\/\/www.flickr.com\/photos\/lucasthenomad\/10440808526\/sizes\/t\/",
      [...]
