---
http_interactions:
- request:
    method: post
    uri: http://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157639475533743&method=flickr.photosets.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_nonce="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", oauth_signature="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1389111836", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"photoset\":{\"id\":\"72157639475533743\", \"primary\":\"11439134074\",
        \"owner\":\"83213379@N00\", \"ownername\":\"Lucas the nomad\", \"photo\":[{\"id\":\"11439134074\",
        \"secret\":\"b97703684d\", \"server\":\"2862\", \"farm\":3, \"title\":\"Purdy
        lamps\", \"isprimary\":\"1\"}, {\"id\":\"9579531199\", \"secret\":\"80e975dcbb\",
        \"server\":\"7359\", \"farm\":8, \"title\":\"IMG_0184\", \"isprimary\":\"0\"},
        {\"id\":\"10440808526\", \"secret\":\"c3fd515635\", \"server\":\"7402\", \"farm\":8,
        \"title\":\"Giant hippo yawn\", \"isprimary\":\"0\"}, {\"id\":\"11224643544\",
        \"secret\":\"18c3674fbe\", \"server\":\"7314\", \"farm\":8, \"title\":\"So
        pathetic looking\", \"isprimary\":\"0\"}], \"page\":1, \"per_page\":500, \"perpage\":500,
        \"pages\":1, \"total\":\"4\", \"title\":\"flickr_offline_gallery specs\"},
        \"stat\":\"ok\"}"
  recorded_at: Tue, 07 Jan 2014 16:23:58 GMT
- request:
    method: post
    uri: http://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=11439134074&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_nonce="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", oauth_signature="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1389111838", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"photo\":{\"id\":\"11439134074\", \"secret\":\"b97703684d\", \"server\":\"2862\",
        \"farm\":3, \"dateuploaded\":\"1387394630\", \"isfavorite\":0, \"license\":\"0\",
        \"safety_level\":\"0\", \"rotation\":0, \"originalsecret\":\"f8f030c446\",
        \"originalformat\":\"jpg\", \"owner\":{\"nsid\":\"83213379@N00\", \"username\":\"Lucas
        the nomad\", \"realname\":\"\", \"location\":\"Melbourne, Australia\", \"iconserver\":\"7410\",
        \"iconfarm\":8, \"path_alias\":null}, \"title\":{\"_content\":\"Purdy lamps\"},
        \"description\":{\"_content\":\"\"}, \"visibility\":{\"ispublic\":1, \"isfriend\":0,
        \"isfamily\":0}, \"dates\":{\"posted\":\"1387394630\", \"taken\":\"2013-08-29
        20:35:54\", \"takengranularity\":\"0\", \"lastupdate\":\"1387394644\"}, \"views\":\"19\",
        \"editability\":{\"cancomment\":0, \"canaddmeta\":0}, \"publiceditability\":{\"cancomment\":1,
        \"canaddmeta\":0}, \"usage\":{\"candownload\":1, \"canblog\":0, \"canprint\":0,
        \"canshare\":1}, \"comments\":{\"_content\":\"0\"}, \"notes\":{\"note\":[]},
        \"people\":{\"haspeople\":0}, \"tags\":{\"tag\":[{\"id\":\"5152225-11439134074-9279\",
        \"author\":\"83213379@N00\", \"raw\":\"Istanbul\", \"_content\":\"istanbul\",
        \"machine_tag\":0}]}, \"urls\":{\"url\":[{\"type\":\"photopage\", \"_content\":\"http:\\/\\/www.flickr.com\\/photos\\/83213379@N00\\/11439134074\\/\"}]},
        \"media\":\"photo\"}, \"stat\":\"ok\"}"
  recorded_at: Tue, 07 Jan 2014 16:23:59 GMT
- request:
    method: post
    uri: http://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=11439134074&method=flickr.photos.getSizes&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_nonce="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", oauth_signature="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1389111839", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"sizes\":{\"canblog\":0, \"canprint\":0, \"candownload\":1, \"size\":[{\"label\":\"Square\",
        \"width\":75, \"height\":75, \"source\":\"http:\\/\\/farm3.staticflickr.com\\/2862\\/11439134074_b97703684d_s.jpg\",
        \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/83213379@N00\\/11439134074\\/sizes\\/sq\\/\",
        \"media\":\"photo\"}, {\"label\":\"Large Square\", \"width\":\"150\", \"height\":\"150\",
        \"source\":\"http:\\/\\/farm3.staticflickr.com\\/2862\\/11439134074_b97703684d_q.jpg\",
        \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/83213379@N00\\/11439134074\\/sizes\\/q\\/\",
        \"media\":\"photo\"}[...]
[...]
