<html>
  <head>
    <style>
      img { height: 375px; }
    </style>
  </head>
<body>
<h1><%= photoset.title %> by <%= photoset.username %></h1>
<% photos.each do |photo| %>
  <a href="<%= photo.local_html_path %>"><img src="<%= photo.local_jpg_path %>"
  /></a>
<% end %>
</body>
</html>


